/ArquivoNaoEncontradoException.class
/DeleteException.class
/InsertException.class
/JaCadastradoException.class
/LoginIncorretoException.class
/NaoCadastradoException.class
/SelectException.class
/UpdateException.class
